:root {
    --blue: #131c29;
    --orange: #ff8901;
    --bg: #f5f6f8;
    --btn: #213349;
    --date1: #b88546;
    --date2: #bc6142;
    --date3: #bd425e;
    --bottomSec: #0b1016;
    --font: 'Oswald', sans-serif;
    --grad: radial-gradient(
        at top center,
        #37577d,
        var(--blue) 40%
    );
}


* {box-sizing: border-box;}

/* -----generic----- */

body {
    margin: 0;
    padding: 0;
    font-family: var(--font);
    /* background-color: var(--bg); */
}

a {
    text-decoration: none;
}

/* -----header----- */

#topHeader {
    padding: 5px 0;
    background-color: var(--blue);
}

.th-text, .top-nav {
    margin: 0;
    /* border: 1px solid white; */
}

.th-text, .th-link {
    font-size: 12px;
    color: #aaa;
}

.th-link {
    border-right: 1px solid #aaa;
}

.th-link:last-child {
    padding-right: none;
    border-right: none;
}

#themeBtn {
    color: var(--bg);
}

#bottomHeader {
    padding: 40px 0;
}

.main-nav-item {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

@media (min-width: 992px) {
    .main-nav-item {
        margin-left: 3px;
        background-color: var(--blue);
        border-radius: 5px;
    }
    .main-nav-item:hover {
        background-color: var(--orange);
    }

    .main-nav-link {
        color: var(--bg);
    }

    .main-nav-link:hover {
        color: var(--bg);
    }

}

/* -----main----- */

.sliders {
    display: flex;
    justify-content: space-between;
    margin: 10px auto;
    width: 96px;
    height: 30px;
    /* border: 1px solid orange; */
}

.slider {
    width: 30px;
    height: 30px;
    background-color: #aaa;;
    border-radius: 50%;
}

.slider:hover {
    background-color: var(--orange);
}

#contentSection .content-container {
    border-top: 1px solid #aaa;
}

.content {
    padding: 40px 10px; 
}

@media (min-width: 768px) {
    #strongContent {
        border-right: 1px solid #aaa;
        border-left: 1px solid #aaa;
    }
}

.content-header {
    margin-top: 0;
    margin-bottom: 32px;
    font-size: 48px;
    font-weight: 400;
}

.content-text {
    margin-top: 40px;
    color: #aaa;
    line-height: 2;
}

.more-btn {
    background-color: var(--btn);
}

/* -----footer----- */

#topFooter {
    padding: 60px 0;
    background-color: var(--blue);
    background-image: var(--grad);
}

.footer-div {
    position: relative;
    padding: 30px 10px;
    /* border: 1px solid white; */
}

.service-list {
    padding-left: 15px;
    list-style-image: url('../images/cog.png');
}

.service-item {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 200;
    line-height: 2;
}

.opp-list {
    padding-left: 15px;
    list-style-image: url('../images/chat.png');
}

.opp-heading, .news-heading, .opp-text, .news-text {
    font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: 200;
}

.opp-text, .news-text {
    color: #aaa;
}   

.news-list {
    padding-left: 0;
    list-style-type: none;
}

.news-item {
    margin-bottom: 26px;
}

.date-div {
    width: 64px;
    height: 64px;
    border-radius: 10px;
}


#dateDiv1 {
    background-color: var(--date1);
}

#dateDiv2 {
    background-color: var(--date2);
}

#dateDiv3 {
    background-color: var(--date3);
}

.date {
    margin: 0;
    font-size: 26px;
}

.month {
    margin: 0;
}

.footer-div .more-btn {
    position: absolute;
    bottom: 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    .date-div {
        width: 40px;
        height: 40px;
    }

    .date {
        font-size: 12px;
    }

    .month {
        font-size: 10px;
    }
}

#bottomFooter {
    padding: 20px 0 75px 0;
    background-color: var(--bottomSec);
}

.colophon {
    margin: 0;
    color: #aaa;
    font-size: 12px;
}